<% include ../partials/header %>
<div class="ui menu olive top large">
    <div class="ui container">
        <a class="item" href="#">
            Home
        </a>
        <div class="right menu">
            <a class="item" href="/users/logout/">
                LogOut
            </a>
        </div>
    </div>
</div>
<% include ../partials/footer %>