<% include ../partials/header %>
<div class="ui menu olive top large">
    <div class="ui container">
        <a class="item" href="#">
            Home
        </a>
        <div class="right menu">
            <div class="item" id="logout-button">
                LogOut
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>